@page "/partnership"
<Title>Сотрудничество / АйТиБорода</Title>

<main id="partnership">
    <section id="not_commerce" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Некоммерческое сотрудничество</h1>
            <p>
                Если Вы - специалист какой либо сферы IT с опытом от пяти лет в индустрии, 
                и у Вас есть интересная тема для выпуска, которая еще не была освещена на канале, 
                то пишите мне на почту <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a>, обсудим детали 😉
            </p>
        </section>
    </section>

    <section id="commerce" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Коммерческое сотрудничество</h1>
            <p>
                Познакомиться со статистикой канала и видах коммерческого сотрудничества можно в моём <a href="assets/mediakit-itbeard.pdf" target="_blank" class="email">медиа-ките (скачать)</a>
            </p>
            <p>
                За дополнительной информацией обращайтесь по почте <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a>
            </p>
        </section>
    </section>
</main>