@page "/sponsorship"

<main id="sponsorship">
    <section id="info" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Спонсорство</h1>
            <p>
                Спонсорство - это возможность поддержать меня и моё творчество, а так же получить доступ к дополнительному 
                контенту и бонусам.
            </p>
            
            <p>
                Но это не значит, что подписчикам канала будут доступны не все интервью. Спонсорский контент 
                весьма персонализирован и не подходит широкой публике канала. Это контент связан  с 
                программирование и со мной лично, поэтому подписчики без спонсорской подписки не будут обделены
                основными выпусками.
            </p>
            
            <p>
                Если же вы хоnите знать чуть больше обо мне, о создании контента, вместе практиковаться в разработке программ
                и получать новые выпуски канала на несколько дней раньше. Список всех бонусов Вы найдете ниже 😉
            </p>
        </section>
    </section>

    <section id="content" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Контент и бонусы</h1>
            <p>
                Для спонсоров доступен ряд бонусов, которые они получают за своё вклад в сообщество. Вот краткий список всех опций:
            </p>
            <ul>
                <li>
                    Эксклюзивные выпуски
                </li>
                <li>
                    Статьи и обзоры книг
                </li>
                <li>
                    Стримы по программированию
                </li>
                <li>
                    Ранний доступ к интервью (уровень "Товарищ" и выше)
                </li>
                <li>
                    Фирменные виниловые стикеры (уровень "Меценат" и выше)
                </li>
                <li>
                    Дружба в Linkedin и Facebook
                </li>
                <li>
                    Авторские значки и эмодзи
                </li>
                <li>
                    Приватный спонсорский чат в Discord
                </li>
            </ul>
        </section>
    </section>

    <section id="how_to" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Как стать спонсором?</h1>
            <p>
                Просто пройдите на главную страницу канала <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a> 
                и найдите кнопку «Спонсировать». Либо пройдите по 
                <a href="https://youtube.com/itbeard/join"  target="_blank" class="email">это ссылке</a>. 
            </p>
            
            <p>
                Далее выберите желаемый уровень подписки с его бонусами и нажмите кнопку «Спонсировать» ещё раз. 
            </p>
            
            <p>
                После этого Вам будет предложено ввести данные вашей карты и завершить процедуру становления спонсором канала 😊
            </p>
            
            <p>
                Теперь вам осталось лишь связать свой discord-аккаунт с youtube-аккаунтом и зайти в приватный спонсорский 
                чат - там мы и встретимся 😎
            </p>
            
            <p>
                Если у Вас остались вопросы, то вот ещё несколько инструкций:
            </p>
            
            <ul>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how" target="_blank"><b>Как стать спонсором</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how2" target="_blank"><b>Как стать спонсором, если нет кнопки «Спонсировать»</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how3" target="_blank"><b>Как привязать Discord к YouTube-аккаунту</b></a>
                </li>
            </ul>
        </section>
    </section>
</main>