@using IndexRes = Localizations.Shared.SiteFooter;
@inject IStringLocalizer<IndexRes> Loc

<div class="contacts">
    @((MarkupString)Loc[IndexRes.Contasts].Value)
</div>
<nav class="social">
    <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email" title="Email">
        <i class="fab fa fa-at"></i>
    </a>
    <a href="https://t.me/iamitbeard" target="_blank" class="telegram" title="Telegram">
        <i class="fab fa-brands fa-telegram-plane"></i>
    </a>
    <a href="https://vkl.world/@@itbeard" target="_blank" class="mastodon" title="Mastodon">
        <i class="fab fa-brands fa-mastodon"></i>
    </a>
</nav>

<div class="thanks">
    @((MarkupString)Loc[IndexRes.Thanks].Value)
</div>
<div class="lang">
    <CultureSelector />
</div>
<div class="github">
    @((MarkupString)Loc[IndexRes.GithubCode].Value)
</div>
<a rel="me" style="display: none" href="https://mementomori.social/@@Itbeard">Mastodon</a>
<a rel="me" style="display: none" href="https://vkl.world/@@itbeard">Mastodon</a>
