<NavLink class="logo" href="" Match="NavLinkMatch.All">
    <img src="/images/logo.jpg" alt="">
    АйТиБорода
</NavLink>

<button id="menu-toggle" class="menu-toggle @NavMenuButtonCssClass" @onclick="ToggleNavMenu">
    <span></span><span></span><span></span>
</button>

<nav id="menu" class="@NavMenuCssClass">
    <NavLink class="logo" href="#">Спонсорство</NavLink>
    <NavLink class="logo" href="#">Сотрудничество</NavLink>
    <NavLink class="logo" href="#">Контакты</NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuButtonCssClass => collapseNavMenu ? null: "active";
    private string NavMenuCssClass => collapseNavMenu ? null: "opened";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
