@page "/"
<main id="landing">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>О канале</h1>
            <p>
                Ку! Меня зовут Лекс и я бородатый программист. С 2012 года у меня накопилось много опыта, историй и знакомств, которыми я делюсь на своем youtube-канале.
            </p>
            <p>
                Но канал - это не просто хобби. Для меня это целый проект, посвященный не столько программированию, сколько жизни айтишников изнутри.
                Без всякой цензуры, ярлыков и лишнего пафоса. Весь контент на канале вместе с вами формирует цельное сообщество единомышленников,
                способных перевернуть этот мир ко всем чертям, в добром смысле слова!
            </p>
            <p>
                <b class="parting-words">Так что, ПОГНАЛИ!</b>
            </p>
        </section>
    </section>

    <section id="interview" class="presentation">
        <section class="content center">
            <h1>Интервью</h1>
            <p>
                Основной формат канала - это интервью. В них я общаюсь со специалистами разных it-направлений и компаний. От дизайнеров
                и программистов до CEO и CTO, от маленьких стартапов до гигантов рынка. Герои интервью - это люди с богатым жизненным
                и профессиональным опытом, готовые делиться им с аудиторией канала.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986l19y0i0dMoPSQxb2wnsdE" target="_blank" class="btn-bottom">Смотреть интервью</a>
        </section>
    </section>

    <section id="know" class="presentation">
        <section class="content left">
            <h1>Знать Как</h1>
            <p>
                Знать Как - формат выпусков, через который я делюсь своим собственным опытом и рассказываю о сложных вещах и понятиях из мира
                IT простыми словами. Из этих выпусков вы узнаете что такое Agile, API, Framework, дедлайн, технический долг и другие вещи,
                с которыми сталкивается каждый айтишник в рамках своей профессиональной деятельности.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986QyAldOJcAyVWG4HAa-pMw" target="_blank" class="btn-bottom">Впитать опыт!</a>
        </section>
    </section>

    <section id="streams" class="presentation">
        <section class="content right">
            <h1>Стримы</h1>
            <p>
                На стримах я общаюсь с аудиторией канала, разыгрываю подарки из выпусков и стикера, рассказываю про новости канала и 
                просто делюсь своими мыслями. А ещё, иногда я собираю ребят из #ityoutubersru и мы проводим Балаганы. Так что, 
                подписывайтесь и ставьте колокольчики, что бы не пропустить ближайший стрим 😉
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986QyAldOJcAyVWG4HAa-pMw" target="_blank" class="btn-bottom">Заценить стримы</a>
        </section>
    </section>

    <section id="other">
        <h1>Дополнительные ништяки</h1>
        <section class="content">
            <a href="https://s.itbeard.com/discord" target="_blank" class="article streams">
                <h1>Сервер Discord</h1>
                <p>
                    Discord-сервер - место, для лампового общения с отличными людьми :)
                </p>
                <iframe src="https://discordapp.com/widget?id=580056294556172318&theme=dark"
                        width="350"
                        height="400" 
                        allowtransparency="true"
                        frameborder="0" 
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                        style="margin: 0 auto;"></iframe>
            </a>

            <a href="https://t.me/itbeard" target="_blank"  class="article stickers">
                <img src="/images/telegram.jpg">
                <h1>Telegram</h1>
                <p>
                    Телеграм-канал служит для оповещений о новых выпусках и для полезных рекомендаций
                </p>
            </a>
            
            <a href="https://instagram.com/itbeard" target="_blank" class="article streams">
                <h1>Instagram</h1>
                <p>
                    В Инстаграме вы найдете спойлеры новых выпусков, backstage со съемок, полезние сториз и чуть больше из жизни Лекса
                </p>
                <img src="/images/instagram.jpg">
            </a>
            
            <a href="https://twitter.com/iamitbeard" target="_blank" class="article streams">
                <h1>Twitter</h1>
                <p>
                    В Твитторе альтер эго Лекса, Тамик АйТиТамада, приглашает новых гостей на интервью и ведет токсичный образ жизни :)
                </p>
                <img src="/images/twitter.jpg">
            </a>

            <a href="/stickers" class="article stickers">
                <img src="/images/stickers.png">
                <h1>Стикеры</h1>
                <p>
                    Стикеры - эксклюзивный физический контент, который нельзя получить за деньги.
                    Кликни, что бы узнать, где достать фирменные виниловые стикерочки!
                </p>
            </a>
            
            <a href="/sponsorship" class="article streams">
                <h1>Спонсорский контент</h1>
                <p>
                    Спонсоры - ядро аудитории. У спонсоров канала есть доступ к
                    ранним премьерам выпусков, а так же к дополнительному контенту: выпуски, стримы, статьи и другие штуки. Кликай, чтобы узнать про все бонусы для спонсоров!
                </p>
                <img src="/images/sponsorship.jpg">
            </a>

            <a href="https://community-z.com/communities/itbeard/discussions" target="_blank" class="article streams">
                <h1>Community-Z</h1>
                <p>
                    На Community-Z можно удобно задавать вопросы Лексу, 
                    предлагать новых гостей на интервью и вносить предложения по улучшению контента
                </p>
                <img src="/images/communityz.jpg">
            </a>

            <div class="article streams">
                <img src="/images/ityoutubers.png">
                <h1>ITYouTubers</h1>
                <p>
                    Я вместе с другими авторами каналов составляем крупнейшее русскоязычное it-сообщество на YouTube -
                    <a href="http://ityoutubers.info" target="_blank"><b>ITYouTubers</b></a>. Найти нас очень
                    просто - достаточно ввести хэштэг <a href="https://www.youtube.com/hashtag/ityoutubersru" target="_blank"><b>#ityoutubersru</b></a> в поиске YouTube!
                </p>
            </div>

            <a href="https://www.youtube.com/channel/UCeObZv89Stb2xLtjLJ0De3Q/community" target="_blank" class="article streams">
                <h1>Стена "The Wall"</h1>
                <p>
                    Стена Ютуба - это то место, где частенько появляется полезный экстра-контент: ресурсы, скидочные коды, новости.
                    Так что, следи за её обновлениями!
                </p>
                <img src="/images/thewall.jpg">
            </a>
        </section>
    </section>
</main>