@page "/partnership"

<main id="partnership">
    <section id="first_slide" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Немного статистики</h1>
            <p>
                Канал существует с марта 2018 года и активно растет, набирая около 11 тысяч подписчиков ежемесячно.
                За всё время видео на канале набрали в общей сумме более 5,6 миллиона просмотров. Самое просматриваемое
                видео насчитывает более 390 тысяч просмотров.
            </p>
            
            <p>
                На данный момент на канале насчитывается более 130 тысяч подписчиков. 
                Ролики на канале набирают от 20 до 160 тысяч просмотров в первый месяц после публикации.
            </p>

            <p>
                Основное направление контента - интервью с представителями сферы IT и технологическими компаниями.
                Кроме того, иногда на канале выходят монологи на айтишные темы и стримы.
            </p>

            <p>
                Основаня аудитория канала - люди 25 лет и старше, работающие или интересующиеся сферой IT. Половина аудитории проживает в РФ,
                около 25% в Украине и около 20% в беларуси.
            </p>

            <p>
                В 2019 году канал стал победителем международного YouTube конкурса YouTube NextUp 2019, пройдя отбор из
                более чем 600 конкурсантов. Цель конкурса - выявление и поддержка компанией YouTube самых перспективных каналов.
            </p>
            
            <p>
                Более подробную информацию о статистике канала и условиях сотрудничества можно получить 
                обратившись ко мне по почте iamitbeard@gmail.com.
                Некоторая ознакомительная информация ожидает Вас ниже.
            </p>
        </section>
    </section>

    <section id="second_slide" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Некомерческое сотрудничество</h1>
            <p>
                Как попасть в выпуск на канал? Очень просто! :)
            </p>
            <p>
                Если Вы - специалист какой либо сферы IT с опытом от пяти лет в индустрии, 
                и у вас есть замечательная тема для выпуска, которая еще не была освещена на канале, либо освящена не в полной мере, 
                то  пишите мне на почту iamitbeard@gmail.com, обсудим детали.
            </p>
            
            <p>
                Если Вы - представитель копмании-крупного игрока рынка IT, либо прорывного IT-стартап, то я также буду рад пообщаться
                о возможностях создать совместный выпуск про Ваш продукт или корпоративную культуру Вашей компании.
            </p>
        </section>
    </section>

    <section id="third_slide" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Коммерческое сотрудничество</h1>
            <div>
                На данный момент существует несколько видов коммерческого сотрудничества с каналом:
                <ul>
                    <li>Интеграция в выпуск</li>
                    <li>Партнерский выпуск</li>
                    <li>Реклама в телеграм-канале</li>
                    <li>Амбассадорство</li>
                </ul>
                
                Это основные направления, которые уже работают на канлае и его окружении. Но я всегда готов рассмотреть 
                ваши предложения по новым видам сотрудничества. За подробной информацие обращайтесь на почу
            </div>
        </section>
    </section>
</main>