@page "/contacts"

<div id="contacts">
    <section class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Контакты</h1>
            <p>
                Страница в разработке...
            </p>
        </section>
    </section>
</div>