#stickers {
  .info{
    padding-bottom: 30px;
  }
  img {
    display: block;
    margin: 0px auto 30px auto; 
    border: 5px solid lightblue;
    border-radius: 20px;
  }
  
  ul {
    margin-left: 50px;
    
    li {
      margin-bottom: 15px;
    }
  }
}