@page "/hackathons"

<div id="hackathons">
    <section class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Все бородатые хакатоны</h1>
            <div>
                2020/05/29 - <NavLink href="/hackathones/pbh" Match="NavLinkMatch.All"><b>Пилотный Бородатый Хакатон</b></NavLink>
            </div>
        </section>
    </section>
</div>