@page "/hackathones/pbh"

<div id="hackathones_may9">
    <section class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Пилотный Бородатый Хакатон</h1>
            <p>
                Тут скоро что-то будет ;)
            </p>
        </section>
    </section>
</div>