@page "/hackathons/pbh"
@page "/hackathones/pbh"

<div id="hackathons_pbh">
    <section class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Пилотный Бородатый Хакатон!</h1>
            <div>
                Друзья! Представляю вам пилотный онлайн-хакатон от канала <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a>!<br/>
                Для участия в хактоне вам необходимо просто зайти на <a href="https://discord.gg/yHHPPRd" target="_blank">хакатон-сервер в Discord</a> и следить за новостями. <br/>
                Будем тестировать формат на лету и хакать удалёнку!😎
            </div>
            <div>
                Тема хакатона: <span>"Удалёнка - жизнь и работа вдали от офиса"</span>
            </div>
            <div>
                Когда: <span>30-31 мая 2020 года</span>
            </div>
            <div>
                Приз: <span>Эксклюзивный выпуск о проекте-победителе на канале <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a></span>
            </div>
            <div>
                Место проведения: <a href="https://discord.gg/yHHPPRd" target="_blank">Хакатон-сервер в Discord</a>
            </div>
            <div>
                Пре-регистрация команд (открыта до 21:00 (МСК) 29.05): <a href="https://forms.gle/9Ca193UxQtggj8Q96" target="_blank">https://forms.gle/9Ca193UxQtggj8Q96</a>
            </div>
            <div>
                Подробную информацию о хакатоне вы найдете на хакатон-сервере в <a href="https://discord.gg/yHHPPRd" target="_blank">Discord</a> 😉
            </div>
        </section>
    </section>
</div>