@page "/hackathons/pbh"
@page "/hackathones/pbh"
<Title>Пилотный Бородатый Хакатон / АйТиБорода</Title>

<div id="hackathons_pbh">
    <section class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Пилотный Бородатый Хакатон!</h1>
            <div>
                Друзья! Вот и закончился пилотный онлайн-хакатон от канала <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a>!<br/>
                Хакатон зашел отлично, будем проводить ещё!😎
            </div>
            <div>
                Тема хакатона: <span>"Удалёнка - жизнь и работа вдали от офиса"</span>
            </div>
            <div>
                Когда: <span>30-31 мая 2020 года</span>
            </div>
            <div>
                Место проведения: <a href="https://discord.gg/yHHPPRd" target="_blank">Хакатон-сервер в Discord</a>
            </div>
            <div>
                Приз: <span>Эксклюзивный выпуск о проекте-победителе на канале <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a></span>
            </div>
            <div>
                Как это было: <a href="https://www.youtube.com/watch?v=a3qRDFKkWYU&list=PLdmSK1Qzu987By4DlKBotgDQBVBZodcyE" target="_blank">YouTube-плейлист хакатона</a>
            </div>
        </section>
    </section>
</div>