#landing {
    padding: 0;
}

#landing>* {
        padding: 0px var(--container-padding);
    }

.parting-words{
        color: deepskyblue;
    }

#about {
    background: #000 url("/images/ciomnylos-bg.jpg") center top / auto auto no-repeat;
}

#description {
    background-color: #25034f;
    padding-top: 1px; /** hard fix **/
}

#where {
    background: #fff url("/images/youtube.png") 73% / auto auto no-repeat;
    color: black;
}

#where h1{
    color: #B32F2C;
}

#where ul li {
    font-size: 17px;
}

#sponsors_bonuses {
     background-color: #fff;
     padding-top: 1px; /** hard fix **/
}

#sponsors_bonuses.slides h1 {
    background-color: #2e2323;
}

#sponsors_bonuses.slides > .content > .article {
    background-color: #2e2323;
}

a {
     text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

.email {
    color: #ff8714;
    font-weight: bold;
}

.colored-text  {
    color: #ff8714;
    font-weight: bold;
}

.youtube {
    color: #FF0000;
    font-weight: bold;
}

.telegram {
    color: #2A9DD6;
    font-weight: bold;
}

.linkedin {
    color: #5F80F5;
    font-weight: bold;
}

.tiktok{
    color: #C53189;
    font-weight: bold;
}

.site {
    color: #FF424D;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    #about {
        background: #000 url("/images/ciomnylos-bg.jpg") center top / 210% auto no-repeat !important;
    }

    #where {
        background: #fff url("/images/youtube.png") center bottom / auto auto no-repeat !important;
    }

    #where .content {
         background-color: rgba(255, 255, 255, 0.8) !important;
    }

    .presentation {
        padding: 0 !important;
    }

    .presentation:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .presentation .content {
         width: 100%;
         min-height: 100vh;
     }

    #not_commerce .links {
        margin-left: 30px;
    }
}