#landing {
    padding: 0;
}

#landing>* {
        padding: 0px var(--container-padding);
    }

.parting-words{
        color: deepskyblue;
    }

#about {
    background: url("/images/about.jpg") left / auto 100% no-repeat var(--color-background-dark);
}

#description {
    background-color: #25034f;
    padding-top: 1px; /** hard fix **/
}

#where {
    background: url("/images/youtube.png") 73% / auto auto no-repeat;
}

#where ul li {
    font-size: 17px;
}

#sponsorship {
    background: #25034f url("/images/sponsorship.png") 25% / auto auto no-repeat;
}

#sponsors_bonuses {
     background-color: #25034f;
     padding-top: 1px; /** hard fix **/
 }

#commerce {
    background: url("/images/youtube.png") 73% / auto auto no-repeat;
}

#not_commerce {
    background: #4c5eac url("/images/partnership.png") 23% / auto auto no-repeat;
}

#other > h1{
    margin-top: 25px;
}

a {
     text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

.email {
    color: #ff8714;
    font-weight: bold;
}

.colored-text  {
    color: #ff8714;
    font-weight: bold;
}

.youtube {
    color: #FF0000;
    font-weight: bold;
}

.telegram {
    color: #2A9DD6;
    font-weight: bold;
}

.linkedin {
    color: #5F80F5;
    font-weight: bold;
}

.tiktok{
    color: #C53189;
    font-weight: bold;
}

.site {
    color: #FF424D;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .presentation {
        padding: 0 !important;
    }

    .presentation:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .presentation .content {
         width: 100%;
         min-height: 100vh;
     }

    #not_commerce .links {
        margin-left: 30px;
    }
}