#contacts {
    background: url("/images/email-post.png") 25% / auto auto no-repeat;
}

#contacts .links a {
    font-style: italic;
    text-decoration: none;
    color: white;
}

#contacts .links a:hover {
    text-decoration: underline;
}

#contacts .links span {
    font-weight: bold;
}

#contacts .links.email span{
    color: orange;
}

#contacts .links.telegram span{
    color: #2A9DD6;
}

#contacts .links.mastodon span{
    color: #5A49DE;
}

#contacts .links.discord span{
    color: #6D8CF6;
}

#contacts .links.twitter span{
    color: #1A8CD8;
}

#socials {
    background: url("/images/links.png") no-repeat 70% 45% #141D3B;
    min-height: 100vh;
}

#socials>section {
    min-height: 100vh;
}

#socials .links a {
    font-style: italic;
    text-decoration: none;
    color: white;
}

#socials .links a:hover {
    text-decoration: underline;
}

#socials .links span {
    font-weight: bold;
}

#socials .links.blog-telegram span{
    color: #2A9DD6;
}

#socials .links.blog-whatsapp span{
    color: #46D97D;
}

#socials .links.blog-fediverse span{
    color: #d70f0f;
}

#socials .links.merch span{
    color: yellow;
}

#socials .links.linkedin span{
    color: #0A66C2;
}

#socials .links.patreon span{
    color: #FF424D;
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    #contacts .links{
        margin-left: 30px;
    }
}