@page "/evocoders"
@page "/evocoder"
@page "/evocode"
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>Эволюция Кода 🧬</Title>

<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1 style="margin-top: 30px">
                Эволюция Кода 🧬
            </h1>

            <p>
                <b class="colored-text">Эволюция Кода</b> — это закрытый клуб для разработчиков и разработчиц,
                которые хотят повысить свои знания в AI и смежных темах, а также научиться увеличивать свою продуктивность через AI-инструменты.
            </p>

            <p class="logo-club"></p>

            <p>
                Клуб строится вокруг нескольких тезисов:
            </p>
            <ul>
                <li class="links telegram">
                    AI <b>не заменит разработчиков</b>
                </li>
                <li class="links telegram">
                    Разработчики, использующие AI, <b>заменят</b> разработчиков, игнорирующих AI
                </li>
                <li class="links telegram">
                    <b>AI улучшает продуктивность</b>
                </li>
                <li class="links telegram">
                    Понимание устройства AI-based технологий становится <b>необходимым минимумом</b> в разработке
                </li>
            </ul>

            <p>
                <b class="colored-text">
                    Цель клуба
                </b>
            </p>
            <p>
                Повышение знаний участников в темах Artificial Intelligence, Machine Learning, Data Science,
                генеративных нейросетей и смежных технологиях.
            </p>

            <p>
                <b class="colored-text">
                    Миссия клуба
                </b>
            </p>
            <p>
                Вывод участников клуба на новый профессиональный уровень, взращивание
                конкурентоспособных и востребованных специалистов.
            </p>

            <p>
                <b class="colored-text">
                    Что даёт клуб?
                </b>
            </p>
            <p>
                Вступив в клуб, ты получаешь полное погружение в контекст использования
                AI-инструментария, остаёшься в курсе последних новостей, получаешь доступ к
                знаниям и сообществу.
                Если говорить более предметно, то ты получишь:
            </p>
            <ul class="club-benefits">
                <li class="links telegram">
                    Знания и юзкейсы
                </li>
                <li class="links telegram">
                    Эксклюзивный <a href="https://youtube.com/live/AVxLDqsU8aw?feature=share" target="_blank"><span>клубный контент</span></a>
                </li>
                <li class="links telegram">
                    Полезные ресурсы и сервисы
                </li>
                <li class="links telegram">
                    <a href="https://youtu.be/hKNIggJ2evE" target="_blank"><span>Новостные подборки</span></a>
                </li>
                <li class="links telegram">
                    Общение и новые контакты
                </li>
                <li class="links telegram">
                    Доступ к клубным мероприятиям
                </li>
                <li class="links telegram">
                    Доступ к закрытым чатам
                </li>
            </ul>

            <p class="club-chats">
                <img src="images/club-chats.jpg" alt="клубные чаты">
            </p>

            <h1>Как вступить в клуб?</h1>
            <p>
                <b class="colored-text">
                    Через подписку
                </b>
            </p>
            <p>
                Для получения доступа к клубу существует два типа подписок:
            </p>
            <ul class="subscription">
                <li class="links yellow">
                    <a href="https://bit.ly/evocoders-monthly" target="_blank">
                        <span>Ежемесячная подписка</span>
                    </a>
                </li>
                <li class="links yellow">
                    <a href="https://bit.ly/evocoders-annually" target="_blank">
                        <span>Ежегодная подписка</span>
                    </a>
                </li>
            </ul>

            <p>
                <b class="colored-text">
                    Через активности
                </b>
            </p>
            <p style="margin-bottom: 30px">
                Если ты активно продвигаешь ИИ-инструментарий, нейронки, ML, DS, LLM, либо являешься
                фаундером или co-фаундером AI-стартапа, то welcome в клуб!
                Напиши мне в Telegram <a href="http://t.me/iamitbeard" class="links telegram colored-text" target="_blank">@@iamitbeard</a>
            </p>
        </section>
    </section>

    <section id="examples" class="presentation no-bg">
        <section class="content center">
            <h2 style="text-align: center; margin-bottom: 20px;">
                Примеры клубного контента
            </h2>
            <p>
                <!-- I need make youtube iframe responcive -->
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/AVxLDqsU8aw?si=p-JjLAFfXFH2YiR6"
                        title="Пример клубного интервью"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>

            <p>
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/hKNIggJ2evE?si=JzFSDloS8e_NFYBR"
                        title="Пример клубного ИИ-дайджеста"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
        </section>
    </section>
</main>