#about {
    background: url("/images/evocode.jpg") 25% 40px / auto auto no-repeat;
}

.logo-club {
    display: none;
}

#about .links a {
    font-style: italic;
    text-decoration: none;
    color: white;
}

#about .links a:hover {
    text-decoration: underline;
}

#about .links span {
    font-weight: bold;
}

#about .links.youtube span{
    color: red;
}

#about .links.telegram span{
    color: #2A9DD6;
}

#about .links.site span{
    color: #FF424D;
}

#about .links.orange span{
    color: #ff8714;
}

#about .links.yellow span{
    color: yellow;
}

#about ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

#about .club-chats{
    margin-left: 20px;
}

#about .club-chats img{
    width: 300px;
}

#examples {
    background: #00134d82;
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 2200px) {
    #about.presentation > .content.right{
        margin-left: 35%;
    }
    #about.presentation > .content {
        width: 100%;
    }
}

@media screen and (min-width: 1662px) {
    #about.presentation > .content.right{
        margin-left: 45%;
    }
    #about.presentation > .content {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #about .links{
        margin-left: 30px;
    }

    /* I need make clas .logo-club as a centered bloc  with background logo image 200px to 200px  */
    .logo-club {
        display: block;
        background: url("/images/evocode.png") 50% / 200px 200px no-repeat;
        margin: 0 auto;
        height: 200px;
    }

    #about {
         background: none;
     }
}
a {
    text-decoration: none;
}

ul {
    font-size: 17px;
    margin-top: -15px;
}

ul li {
    margin: 20px 0;
}