@page "/evocoders"
@page "/evocoder"
@page "/evocode"
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>Эволюция Кода 🧬</Title>

<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1 style="margin-top: 30px">
                Эволюция Кода 🧬
            </h1>

            <p>
                <b class="colored-text">Эволюция Кода</b> - это закрытый клуб разработчиков,
                которые бустят свою продуктивность через AI-инструменты и понимание AI-базы.
            </p>
            <p>
                Клуб <b class="colored-text">"Эволюция Кода"</b> строится вокруг трех тезисов:
            </p>
            <ul>
                <li class="links telegram">
                    AI не заменит разработчиков;
                </li>
                <li class="links telegram">
                    Разработчики, использующие AI, заменят разработчиков, игнорирующих AI;
                </li>
                <li class="links telegram">
                    AI улучшает продуктивность.
                </li>
            </ul>

            <p>
                <b class="colored-text">
                    Что даёт клуб?
                </b>
            </p>
            <p>
                Вступив в клуб ты получаешь полное погружение в контекст использование AI-инструментария и AI-новостей
                в одном месте. Если говорить более предметно, то ты получишь:
            </p>
            <ul>
                <li class="links telegram">
                    Общение и юзкейсы;
                </li>
                <li class="links telegram">
                    Эксклюзивный клубный контент;
                </li>
                <li class="links telegram">
                    Полезные ресурсы и сервисы;
                </li>
                <li class="links telegram">
                    Новостные подборки;
                </li>
                <li class="links telegram">
                    Клубные мероприятия.
                </li>
            </ul>

            <h2>Как вступит в клуб?</h2>
            <p>
                <b class="colored-text">
                    Через подписку
                </b>
            </p>
            <p>
                Для получения доступа к клубу существует три типа подписки:
            </p>
            <ul>
                <li class="links telegram">
                    <a href="https://bit.ly/evocoders-weekly" target="_blank">
                        <span>Еженедельная подписка</span>
                    </a>
                </li>
                <li class="links telegram">
                    <a href="https://bit.ly/evocoders-monthly" target="_blank">
                        <span>Месячная подписка</span>
                    </a>
                </li>
                <li class="links telegram">
                    <a href="https://bit.ly/evocoders-annually" target="_blank">
                        <span>Ежегодная подписка</span>
                    </a>
                </li>
            </ul>

            <p>
                <b class="colored-text">
                    Через активности
                </b>
            </p>
            <p style="margin-bottom: 30px">
                Если ты активно продвигаешь ИИ-инструментарий, нейронки, ML, DS, LLM, либо являешься
                фаундером или co-фаундером AI-стартапа, то welcome в клубе!
                Напиши мне в Telegram <a href="http://t.me/iamitbeard" class="links telegram colored-text" target="_blank">@@iamitbeard</a>
            </p>
        </section>
    </section>
</main>
