#about {
    background: #72797f url("/images/index.jpg") left / auto 100% no-repeat;
}

.colored-text  {
    color: #ff8714;
    font-weight: bold;
}

.merch {
     width: 280px;
     margin: 0 auto;
 }

@media screen and (max-width: 767px) {
    #about {
        padding: 0 !important;
    }
}