@page "/"
<Title>АйТиБорода - жизнь и работа в IT 🇺🇦 #нетвойне</Title>
<main id="landing">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>О шоу</h1>
            <p>
                Ку! Меня зовут Лекс и я бородатый программист :)<br/> 
                За долгое время работы у меня накопилось много опыта, историй и знакомств, которыми я делюсь в своём шоу.
            </p>
            <p>
                Шоу «АйТиБорода» посвящено жизни айтишников изнутри и своими 
                эпизодами рассказывает о языках программирования, популярных технологиях, 
                профессиях, известных представителях сферы и их пути развития. <br/> 
                Без всякой цензуры, ярлыков и лишнего пафоса.
            </p>
            <p>
                Весь контент «АйТиБороды» вместе с вами формирует сообщество единомышленников,
                способных перевернуть этот мир и изменить себя в лучшую сторону. 
                <b class="parting-words">Так что, ПОГНАЛИ!</b>
            </p>
        </section>
    </section>

    <section id="interview" class="presentation">
        <section class="content center">
            <h1>Интервью</h1>
            <p>
                Основной формат шоу - это интервью. В них специалисты разных it-направлений и компаний делятся своим опытом. От дизайнеров
                и программистов до CEO и CTO, от маленьких стартапов до гигантов рынка. Герои интервью - это люди с богатым жизненным
                и профессиональным опытом, готовые делиться им с аудиторией.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986l19y0i0dMoPSQxb2wnsdE" target="_blank" class="btn-bottom">Смотреть все интервью!</a>
        </section>
    </section>

    <section id="know" class="presentation">
        <section class="content left">
            <h1>Профессии</h1>
            <p>
                Если вы не знаете, куда податься в IT, то я вам всё расскажу!
                Именно для этого существует рубрика "Профессии", в которой мы с гостями разбираемся
                в тонкостях их ремесла. Каждый гость этой рубрики - профессионал в своём деле, который направит вас по верному пути!
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu987VRKxIuCQLevB_vUA2dB2I" target="_blank" class="btn-bottom">Получить профессию!</a>
        </section>
    </section>

    <section id="streams" class="presentation">
        <section class="content right">
            <h1>Программирование</h1>
            <p>
                Одной из основных задач шоу является освещение всех существующих языков программирования.
                И у нас неплохо получается, основная масса ЯП уже представлены на канале!
                Слушайте описание понравившихся ЯП и расширяйте свои навыки 😉
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu984Jnm_YhDcD_Hs5WEB39HoR" target="_blank" class="btn-bottom">Освоить новый язык!</a>
        </section>
    </section>

    <section id="other">
        <h1>Дополнительные ништяки</h1>
        <section class="content">
            <a href="https://twitter.com/iamitbeard" target="_blank" class="article streams">
                <h1>Twitter</h1>
                <p>
                    В Твиттере Лекс без цензуры высказывается о насущных вещах,
                    приглашает новых гостей на интервью и в целом ведет весьма токсичный образ жизни (WARNING)
                </p>
                <img src="/images/twitter.jpg">
            </a>
            
            <a href="https://t.me/itbeard" target="_blank" class="article stickers">
                <img src="/images/telegram.jpg">
                <h1>Telegram</h1>
                <p>
                    Телеграм-канал служит для оповещений о новых выпусках и для полезных рекомендаций
                </p>
            </a>

            <a href="https://instagram.com/itbeard" target="_blank" class="article streams">
                <h1>Instagram</h1>
                <p>
                    В Инстаграме вы найдете спойлеры новых выпусков, backstage со съемок, полезние сториз и чуть больше из жизни Лекса
                </p>
                <img src="/images/instagram.jpg">
            </a>
            
            <a href="https://s.itbeard.com/discord" target="_blank" class="article streams discord">
                <h1>"Родная Айтишка"</h1>
                <p>
                    Discord-сервер "Родная Айтишка" - это место для лампового IT-общения с отличными людьми :)
                </p>
                <iframe src="https://discordapp.com/widget?id=580056294556172318&theme=dark"
                        width="350"
                        height="400"
                        allowtransparency="true"
                        frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                        style="margin: 0 auto;"></iframe>
            </a>

            <a href="https://www.youtube.com/channel/UCeObZv89Stb2xLtjLJ0De3Q/community" target="_blank" class="article streams">
                <img src="/images/thewall.jpg">
                <h1>Стена "The Wall"</h1>
                <p>
                    Стена Ютуба - это то место, где частенько появляется полезный контент: заметки, интересные видео, полезные ссылки.
                    Так что, следите за её обновлениями!
                </p>
            </a>

            <a href="/sponsorship" class="article streams">
                <h1>Спонсорский контент</h1>
                <p>
                    Спонсоры - ядро аудитории. У спонсоров канала есть доступ к
                    раннему просмотру выпусков без рекламы, а также к дополнительному контенту: экстра-контент к выпускам, стримы и др.
                    Кликайте, чтобы узнать про все бонусы для спонсоров!
                </p>
                <img src="/images/sponsorship.jpg">
            </a>
        </section>
    </section>
</main>