@page "/partnership"
<Title>Сотрудничество / АйТиБорода</Title>

<main id="partnership">
    <section id="commerce" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Коммерческое сотрудничество</h1>
            <p>
                Познакомиться с публичной статистикой канала и видах коммерческого сотрудничества можно в 
                <a href="https://s.itbeard.com/mediakit" target="_blank" class="email">медиа-ките (скачать)</a>.
            </p>
            <p>
                За дополнительной информацией о форматах сотрудничества, подробной статистикой и стоимостями 
                обращайтесь на почту <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a> 
                или в телеграм <a href="https://t.me/iamitboroda" target="_blank" class="email">@@iamitboroda</a>.
            </p>
        </section>
    </section>

    <section id="not_commerce" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Некоммерческое сотрудничество</h1>
            <p>
                Если Вы - специалист какой либо сферы IT с опытом от пяти лет в индустрии, 
                и у Вас есть интересная тема для выпуска, которая еще не была освещена на канале, 
                то пишите мне на почту <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a> 
                или в телеграм <a href="https://t.me/iamitboroda" target="_blank" class="email">@@iamitboroda</a>, обсудим все детали 😉
            </p>
        </section>
    </section>
</main>