@page "/sponsorship"
<Title>Поддержать канал / АйТиБорода</Title>

<main id="sponsorship">
    <section id="info" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Спонсорство</h1>
            <p>
                Спонсорство на YouTube - это возможность поддержать шоу и получить доступ к спонсорским бонусам и
                дополнительному контенту.
            </p>
            
            <p>
                Но это не значит, что обычным подписчикам канала будут доступны не все эпизоды шоу. 
                Спонсорский контент лишь дополняет основной, глубже погружая зрителя в историю. 
                Подписчики без спонсорского доступа всё также могут просматривать все выпуски шоу,
                но лишают себя возможности насладится им по максимуму!
            </p>
            
            <p>
                Если вы хотите знать чуть больше о гостях и авторе, вместе практиковаться в разработке программ
                и получать новые выпуски канала на несколько дней раньше и без рекламы, 
                то спонсорская подписка создана для вас!
            </p>
            <p>
                Список всех бонусов Вы найдете ниже 😉
            </p>
        </section>
    </section>

    <section id="content" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Бонусы спонсорам</h1>
            <p>
                Спонсоры на YouTube получают ряд бонусов за свой вклад. Вот основные плюшки спонсорства (но не все):
            </p>
            <ul>
                <li>
                    <a href="https://s.itbeard.com/discord" target="_blank">Спонсорский чат</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986bFr4dpzCVcMQ_r7lgwZCZ" target="_blank">Дополнительный контент</a>  к выпускам
                </li>
                <li>
                    Ранний доступ к выпускам без рекламы
                </li>
                <li>
                    Авторские значки и эмодзи
                </li>
                <li>
                    Публичные благодарности!
                </li>
            </ul>
        </section>
    </section>

    <section id="how_to" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Как стать спонсором?</h1>
            <p>
                Просто пройдите на главную страницу YouTube-шоу <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a> 
                и найдите кнопку «Спонсировать». Либо пройдите по 
                <a href="https://youtube.com/itbeard/join"  target="_blank" class="email">это ссылке</a>. 
            </p>
            
            <p>
                Далее выберите желаемый уровень подписки с его бонусами и нажмите кнопку «Спонсировать» ещё раз. 
            </p>
            
            <p>
                После этого Вам будет предложено ввести данные вашей карты и завершить процедуру становления спонсором канала 😊
            </p>
            
            <p>
                Теперь вам осталось лишь связать свой discord-аккаунт с youtube-аккаунтом и зайти в приватный спонсорский 
                чат - там мы и встретимся 😎
            </p>
            
            <p>
                Если у Вас остались вопросы, то вот ещё несколько инструкций:
            </p>
            
            <ul>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how" target="_blank"><b>Как стать спонсором</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how2" target="_blank"><b>Как стать спонсором, если нет кнопки «Спонсировать»</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how3" target="_blank"><b>Как привязать Discord к YouTube-аккаунту</b></a>
                </li>
            </ul>
        </section>
    </section>
    
    <section id="crypto" class="presentation presentation-fourth no-bg">
            <section class="content left">
                <h1>Помощь криптой</h1>
                <p>
                    Для крипто-энтузиастов также есть возможность помочь развитию проекта "АйТиБорода".  
                    Ваша поддержка очень важна, потому большое вам спасибо!
                </p>
                <ul>
                    <li>
                        Биток/BTC: <b>1G3LiNXUAMxot8QWyuZE2YnJDrUsm7FHHv</b>
                    </li>
                    <li>
                        Эфир/ETH: <b>0x3bb3a12256bf0ab3ef01a6ef0599d5439b91e04e</b>
                    </li>
                    
                    <li>
                        Litecoin/LTC: <b>MERU2pUZemKTXRrkdKemdjxL6YJPCjirGt</b>
                    </li>
                    <li>
                        Tether/USDT (ETC20): <b>0x1bbf5354e8e8e2f7e7b5ea7700270765d4710cf2</b>
                    </li>
                </ul>
            </section>
        </section>
</main>
