main {
    padding: 0 !important;
}

.presentation {
    min-height: 100vh;
}

ul li {
    margin-bottom: 10px;
}

.orange:hover {
    color: orange;
}

main>* {
    padding: 0px var(--container-padding);
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

b {
    color: #00bfff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.email {
    color: #ff8714;
    font-weight: bold;
}

#info .links a {
    font-style: italic;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

#info span {
    font-weight: bold;
}

#info.youtube span {
    color: #FF0000;
}

#info.soundcloud span{
    color: #ff8714;
}

#info.discord span{
    color: #6D8CF6;
}

#info.telegram span{
    color: #2A9DD6;
}

#info.instagram span{
    color: #C53189;
}

#video iframe {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 500px;
    height: 60vw;
}

#video .content {
    width: 100%;
}

#video {
    background: none;
}

#crypto {
    background: #00134d82 url("/images/crypto.png") no-repeat 80% 45%
}

#info {
    background: url("/images/sponsorship.png") 25% / auto auto no-repeat;
}

#how_to {
    background: #00134d82 url("/images/howto.png") no-repeat 70% 43%;
}

#apple {
    background: url("/images/apple.png") no-repeat 65% 50%
}

@media screen and (max-width: 767px) {

    .presentation {
        padding: 0 !important;
    }

    main:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .presentation.no-bg > .content {
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        min-height: 100vh;
    }

    #not_commerce .links {
        margin-left: 30px;
    }

    #crypto {
        background-color: #698eff82;
        background-size: 100%;
    }
    
    #crypto ul {
        overflow-x: scroll;
    }

    #info {
        background-size: 100%;
    }

    #how_to {
        background-color: #698eff82;
        background-size: 100%;
    }

    #apple {
        background-position: 50%;
    }
}