@page "/sponsorship"
<Title>Поддержать канал / АйТиБорода</Title>

<main id="sponsorship">
    <section id="crypto" class="presentation presentation-fourth no-bg">
        <section class="content left">
            <h1>Помощь криптой</h1>
            <p>
                Для крипто-энтузиастов есть возможность поддержать проект "АйТиБорода" через криптовалюты.  
                Ваша поддержка напрямую влияет на развитие шоу, потому зарание большое вам спасибо!
            </p>
            <ul>
                <li>
                    BTC: <b>bc1qvr9areesmfukpphe2es2q339p42yyr7pph73ty</b>
                </li>
                <li>
                    ETH: <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    USDT (ERC-20): <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    USDT (TRC-20): <b>TUXAXsM2EEwj6Yu4ragkYDS3riwiSQMEuL</b>
                </li>
                <li>
                    SOL: <b>2ZK7hJ8pQ5NXb2ezRtdKWXSAvHLZDMpPKJe5xw5Ak76Y</b>
                </li>
                <li>
                    DOT: <b>13bYtwi73W4Z2rJoyWxdMiaVQrq1S3PkhzzsGrNzfdHcSFoQ</b>
                </li>
                <li>
                    NEAR: <b>cfe98a5294eb92a6affba80b8265d00c2f09a6a169a8a9da7712ed6e6b951e71</b>
                </li>
                <li>
                    XTZ: <b>tz1Ppo34Z8TfBSo6bhFZ6qSwTGU3L3FqXJJr</b>
                </li>
                <li>
                    LTC: <b>ltc1qj8e0jrxc3wx7pfmjfyyjkg8hf2ajs9ecp5wwr2</b>
                </li>
                <li>
                    DOGE: <b>DFFZkkTsiyEKbGbK2ANACiB35wQU5iJAPk</b>
                </li>
            </ul>
        </section>
    </section>
    
    <section id="info" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Спонсорство</h1>
            <p>
                Спонсорство на YouTube - это ещё одна возможность поддержать шоу и получить доступ к спонсорским бонусам и
                дополнительному контенту.
            </p>
            
            <p>
                Но это не значит, что обычным подписчикам канала будут доступны не все эпизоды шоу. 
                Спонсорский контент лишь дополняет основной, глубже погружая зрителя в историю. 
                Подписчики без спонсорского доступа всё также могут просматривать все выпуски шоу,
                но лишают себя возможности насладится им по максимуму!
            </p>
            
            <p>
                Если вы хотите знать чуть больше о гостях и авторе, вместе практиковаться в разработке программ
                и получать новые выпуски канала на несколько дней раньше и без рекламы, 
                то спонсорская подписка создана для вас!
            </p>
            <p>
                Список всех бонусов Вы найдете ниже 😉
            </p>
        </section>
    </section>

    <section id="content" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>Бонусы спонсорам</h1>
            <p>
                Спонсоры на YouTube получают ряд бонусов за свой вклад. Вот основные плюшки спонсорства (но не все):
            </p>
            <ul>
                <li>
                    <a href="https://s.itbeard.com/discord" target="_blank">Спонсорский чат</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986bFr4dpzCVcMQ_r7lgwZCZ" target="_blank">Дополнительный контент</a>  к выпускам
                </li>
                <li>
                    Ранний доступ к выпускам без рекламы
                </li>
                <li>
                    Авторские значки и эмодзи
                </li>
                <li>
                    Публичные благодарности!
                </li>
            </ul>
        </section>
    </section>

    <section id="how_to" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Как стать спонсором?</h1>
            <p>
                Просто пройдите на главную страницу YouTube-шоу <a href="https://youtube.com/itbeard" target="_blank"><b>«АйТиБорода»</b></a> 
                и найдите кнопку «Спонсировать». Либо пройдите по 
                <a href="https://youtube.com/itbeard/join"  target="_blank" class="email">это ссылке</a>. 
            </p>
            
            <p>
                Далее выберите желаемый уровень подписки с его бонусами и нажмите кнопку «Спонсировать» ещё раз. 
            </p>
            
            <p>
                После этого Вам будет предложено ввести данные вашей карты и завершить процедуру становления спонсором канала 😊
            </p>
            
            <p>
                Теперь вам осталось лишь связать свой discord-аккаунт с youtube-аккаунтом и зайти в приватный спонсорский 
                чат - там мы и встретимся 😎
            </p>
            
            <p>
                Если у Вас остались вопросы, то вот ещё несколько инструкций:
            </p>
            
            <ul>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how" target="_blank"><b>Как стать спонсором</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how2" target="_blank"><b>Как стать спонсором, если нет кнопки «Спонсировать»</b></a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how3" target="_blank"><b>Как привязать Discord к YouTube-аккаунту</b></a>
                </li>
            </ul>
        </section>
    </section>
</main>
