@page "/stickers"

<div id="stickers">
    <img src="/images/stickers.jpg">
    <div class="info">
        Это фирменные виниловые стикеры АйТиБороды. Их нельзя купить. Но их можно получить за активное участие в жизни канала и сообщества в целом.
    </div>
    
    <div>
        Как получить стикеры:
        <ul>
            <li>
                Стикерочки получают все участники конкурсов канала
            </li>
            <li>
                Стикеры разыгрываются в конце каждого 
                <a href="https://www.youtube.com/watch?v=-3HcTr3GYuY&list=PLdmSK1Qzu987AKi5CgemWTQ4qKH8HRm4a" target="_blank">Традиционного Бородатого Стрима </a>
            </li>
            <li>
                Став <a href="../sponsorship">спонсором</a> уровня "Меценат" вы тоже получите стикеры в подарок :)
            </li>
        </ul>
    </div>
    
</div>