#patreon {
    background: #863A2C url("/images/patreon.png") 25% / 30% auto no-repeat;
}

#merch {
    background: url("/images/merch.jpg") no-repeat 70% 45%
}

#merch .links a {
    font-style: italic;
    text-decoration: none;
}

#merch a:hover {
    text-decoration: underline;
}

#merch span {
    font-weight: bold;
}

#card {
    background: #00134d82 url("/images/cards.png") no-repeat 35% 40%;
}

#crypto {
    background: url("/images/crypto.png") no-repeat 80% 45%
}

#crypto b {
    color: #00bfff;
}

#crypto ul li {
    margin-bottom: 10px
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    #not_commerce .links {
        margin-left: 30px;
    }

    #patreon {
        background-size: 90%;
        background-position-x: 50%;
        background-position-y: 100%;
    }

    #merch {
        background: url("/images/merch.jpg") no-repeat center center;
    }

    #merch .content {
        background-color: rgba(2, 2, 2, 0.8) !important
    }

    #card {
        background: url("/images/cards.png") no-repeat center center;
    }

    #card .content {
        background-color: rgba(19, 11, 36, 0.8) !important
    }

    #crypto {
        background: #698eff82 url("/images/crypto.png") no-repeat center center;
    }

    #crypto .content {
        background-color: rgba(0,0,0,0.7); !important
    }

    #crypto ul {
        overflow-x: scroll;
    }

    #card {
        background-size: 100%;
    }
}