#about {
    background: #000 url("/images/ciomnylos-bg.jpg") center top / auto auto no-repeat;
}

#links {
    background: #fff url("/images/youtube.png") 73% / auto auto no-repeat;
    color: black;
}

#links h1{
    color: #B32F2C;
}

#links ul li {
    font-size: 17px;
}

#support {
    background-color: #fff;
    padding-top: 1px; /** hard fix **/
}

#support.slides h1 {
    background-color: #48432d;
}

#support.slides > .content > .article,
#support.slides > h1 {
    background-color: #2e2323;
}

#merch {
    background: url("/images/merch.jpg") no-repeat 70% 45%
}

#merch .links a {
    font-style: italic;
    text-decoration: none;
}

#merch a:hover {
    text-decoration: underline;
}

#merch span {
    font-weight: bold;
}

a {
     text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

.youtube {
    color: #FF0000;
    font-weight: bold;
}

.telegram {
    color: #2A9DD6;
    font-weight: bold;
}

.twitter{
    color: #1A8CD8;
    font-weight: bold;
}

.site {
    color: #FF424D;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    #about {
        background: #000 url("/images/ciomnylos-bg.jpg") center top / 210% auto no-repeat !important;
    }

    #links {
        background: #fff url("/images/youtube.png") center bottom / auto auto no-repeat !important;
    }

    #links .content {
         background-color: rgba(255, 255, 255, 0.8) !important;
    }

    #merch {
        background: url("/images/merch.jpg") no-repeat center center;
    }

    #merch .content {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }
}