#about {
    background: url("/images/vkl.jpg") no-repeat 70% 45%
}

#about .links a {
    font-style: italic;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

#about span {
    font-weight: bold;
}

a {
     text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    #about {
        background: #010101 url("/images/vkl.jpg") no-repeat center center;
    }

    #about .content {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
}