@page "/"

<section id="about" class="presentation presentation-first no-bg">
    <section class="content right">
        <h1>Обо мне</h1>
        <p>Ку! Меня зовут Лекс и я бородатый программист. С 2012 года у меня накопилось много опыта, историй и знакомств, которыми я делюсь на своем youtube-канале.</p>
        <p>Но канал - это не просто хобби. Для меня это целый проект, посвященный не столько программированию, сколько жизни айтишников изнутри. Без всякой цензуры, ярлыков и лишнего пафоса. Весь контент на канале вместе с вами формирует цельное сообщество единомышленников, способных перевернуть этот мир ко всем чертям, в добром смысле слова :)</p>
        <p><b>Так что, ПОГНАЛИ!</b></p>
    </section>
</section>

<section id="interwiew" class="presentation">
    <section class="content left">
        <h1>Интервью</h1>
        <p>Основной формат моего канала. Здесь я беру интервью у специалистов разных it-проффессий. От дизайнеров до data-scienceистов, от хакеров до гейм-девелоперов. В общем у всех, кто имеет опыт в своей сфере и готов им делиться.</p>
        <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986l19y0i0dMoPSQxb2wnsdE" class="btn-bottom">Смотреть</a>
    </section>
</section>

<section id="know" class="presentation">
    <section class="content right">
        <h1>Знать как</h1>
        <p>Делюсь реальным айтишным опытом. Что делать можно, а что не стоит. Узнаете, что такое Agile, API, Framework, CLI, VPS и прочее. Также расскажу о работе в it в целом, про технический долг, дедлайны и прочий хардкор.</p>
        <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986QyAldOJcAyVWG4HAa-pMw" class="btn-bottom">Смотреть</a>
    </section>
</section>

<section id="other">
    <h1>Прочий стафф</h1>
    <section class="content">
        <a href="http://ityoutubersru.info" class="article ityoutubers">
            <img src="/images/ityoutubers.png">
            <h1>#ityoutubersru</h1>
            <p>Я вместе с другими авторами каналов составляем крупнейшее русскоязычное it-сообщество Ютуба. Найти нас очень просто - достаточно ввести наш хэштэг в поиске YouTube :)</p>
        </a>
        <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu987SruEPaCk2FnhaKeUp8HyW" class="article streams">
            <img src="/images/stream.jpg">
            <h1>Стримы</h1>
            <p>Примерно каждый месяц я провожу стримы, где общаюсь со зрителями, программирую в прямом эфире и делаю еще много других вещей. Подпишись, чтобы не пропустить!</p>
        </a>
        <a href="https://t.me/addstickers/itbeard_stickers" class="article stickers">
            <img src="/images/stickers.png">
            <h1>Стикеры</h1>
            <p>А еще, зацените мои фирменные стикеры для telegram!</p>
        </a>
    </section>
</section>