@page "/thanks"

<div>
    Спасибо ребятам, которые помогали пилить этот сайт и вложили частичку себя :) <br/>
    Вы КРУТЫЕ!
<ul>
    <li>
        <a href="https://freelancehunt.com/freelancer/Ikor_Jefocur.html" target="_blank">Егор Комаровский</a>
    </li>
    <li>
        <a href="https://eyarotskiy.github.io" target="_blank">Женя Яроцкий</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/vepa-orazov-93946a173/" target="_blank">Вепа Оразов</a>
    </li>
    <li>
        <a href="mailto:dmitry.fcz@gmail.com">Дима "FCZ"</a>
    </li>
    <li>
        <a href="mailto:manuilenkoart@gmail.com">Артур Мануйленко</a>
    </li>
    <li>
        <a href="https://hipolink.me/miaarber" target="_blank">Мия Арбер</a>
    </li>
    <li>
        <a href="http://developer-studio.ru" target="_blank">Варужан Саркисов</a>
    </li>
</ul>
</div>