#contacts {
    padding: 0;

    &>* {
        padding: 0px var(--container-padding);
    }
    
    section.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #first_slide {
        background: url("/images/main-recources.png") 25% / auto auto no-repeat;
        
        .links {
            a {
                font-style: italic;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            span {
                font-weight: bold;
            }

            &.youtube span {
                color: #FF0000;
            }

            &.soundcloud span{
                color: #ff8714;
            }

            &.discord span{
                color: #6D8CF6;
            }

            &.telegram span{
                color: #2A9DD6;
            }

            &.instagram span{
                color: #C53189;
            }

            &.twitter span{
                color: #1DA1F2;
            }
        }
    }
    
    #second_slide {
        background: url("/images/email-post.png") 73% / auto auto no-repeat;
        background-color: #620067;
        min-height: 100vh;
        
        &>section {
            min-height: 100vh;
        }

        .links {
            margin-bottom: 30px;
            
            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
            
            &>div {
                font-weight: bold;
                margin-left: 30px;
                margin-top: 10px;
            }

            span {
                font-style: italic;
            }
        }
    }
    
    #third_slide {
        background: url("/images/other-recources.png") 25% / auto auto no-repeat;
        min-height: 100vh;

        &>section {
            min-height: 100vh;
        }
        
        .links{
            a {
                font-style: italic;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            span {
                font-weight: bold;
            }
            
            &.youtube span {
                color: #FF0000;
            }

            &.telegram span{
                color: #2A9DD6;
            }

            &.yandex span{
                color: #ff8714;
            }

            &.merch span{
                color: yellow;
            }

            &.apple span{
                color: #FA6755;
            }

            &.vk span{
                color: #5181B8;
            }

            &.facebook span{
                color: #4867AA;
            }

            &.linkedin span{
                color: #0A66C2;
            }

            &.google span{
                color: #4282EF;
            }

            &.spotify span{
                color: #1ED760;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #contacts {
        .presentation {
            padding: 0 !important;
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
            
            .content {
                width: 100%;
                background-color: rgba(0,0,0,.7);
                min-height: 100vh;
            }
        }

        #second_slide .links{
            margin-left: 30px;
        }
    }
}